<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AtecMain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AtecMain.Properties.Settings>
            <setting name="DataFile" serializeAs="String">
                <value />
            </setting>
            <setting name="MotorolaFile" serializeAs="String">
                <value />
            </setting>
            <setting name="PartFile" serializeAs="String">
                <value />
            </setting>
            <setting name="PrinterAddress1" serializeAs="String">
                <value>192.168.1.200</value>
            </setting>
            <setting name="PrinterAddress2" serializeAs="String">
                <value>192.168.1.201</value>
            </setting>
            <setting name="SerialPortBaud1" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="SerialPortComPort1" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="SerialPortData1" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="SerialPortBaud2" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="SerialPortComPort2" serializeAs="String">
                <value>COM2</value>
            </setting>
            <setting name="SerialPortData2" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="UsePrinter1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UsePrinter2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseBurner1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseBurner2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EPromType" serializeAs="String">
                <value>5C24</value>
            </setting>
            <setting name="Printer1Serial" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Printer2Serial" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Printer1SerialPort" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="Printer2SerialPort" serializeAs="String">
                <value>COM4</value>
            </setting>
        </AtecMain.Properties.Settings>
    </userSettings>
</configuration>